.message-component {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2.5px; /* Updated margin-bottom value */
}

.label-right {
  margin-right: 10px;
  text-align: right;
  flex: 0 0 150px;
  padding-top: 5px;
}

.input-container {
  flex: 1;
  margin-left: 10px;
}

textarea {
  width: calc(100% - 10px); /* Subtract the padding from the width */
  padding-right: 10px;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

input[type="text"] {
  width: calc(100% - 10px); /* Subtract the padding from the width */
  padding-right: 10px;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.link-button {
  background: none;
  border: none;
  color: blue;
  font-size: 10px; /* Updated font size */
  cursor: pointer;
  text-decoration: none; /* Remove underline */
}

.link-button:hover {
  color: red; /* Change hover color */
}
