.message-component {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label-right {
  margin-right: 10px;
  text-align: right;
  flex: 0 0 150px;
}

textarea,
input[type="text"],
select {
  flex: 1;
  margin-left: 10px; /* Add this line to create space between label and input */
}
